body{
    background-image: url(stacked-peaks-haikei.svg);
}
.khung{
    width: 97%;
    height: 90%;
    position: absolute  ;
    border-radius: 10px;
    padding: 10px;
    right: 10px;
    border: 1px solid ;
}
#box_chat{
    width: 95%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid ;
}

.gui{
    width: 55px;
    border-radius: 10px;
}
.gui:hover{
    font-size: 22px;
}
p{
    position:static ;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 10px;
    width: 95%;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 10px;
}
#form{
    position: fixed;
    height: 35px;
    width: 97%;
    bottom: 1px;
}
#chat { list-style-type: none; margin: 0; padding: 0; }
#chat > p {  padding: 0.5rem 1rem; }
#chat > p:nth-child(odd) { color: #000000; }